<!doctype html>
<html lang="en">
<head>
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/popper.js/dist/umd/popper.min.js"></script>
  <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" >
  <link rel="stylesheet" type="text/css" href="/css/navbar-sub.css" >
  <script>
    $(function(){
      $("#nav-placeholder").load("/nav.html");
    });
  </script>
</head>
  <body>
    <div id="nav-placeholder" ></div>

   <div class="container">
    <p>
      Welcome to my text mining hub. Navigate freely and test out some of the algorithms!
    </p>
  </div>
  </body>
</html>
