<!doctype html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
      <link rel="stylesheet" type="text/css" href="/css/modal-style.css" />
      <link rel="stylesheet" type="text/css" href="/css/topic-gen-style.css" />
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
      <link rel="stylesheet" type="text/css" href="/css/liststyle.css" />

      <script type="text/javascript" src="/list.js/dist/list.min.js"></script>
      <script type="text/javascript" src="/animejs/anime.min.js"></script>
      <script type="text/javascript" src="/dropzone/dist/min/dropzone.min.js"></script>
      <script type="text/javascript" src="/micromodal/dist/micromodal.min.js"></script>

      <script type="text/javascript">
         function uploaded(){
           document.getElementById("waiting-content-p").style.display = 'block'
           document.getElementById("modal-1-title").innerHTML = "Generating topics"
           document.getElementById("loading-section").style.display = 'block'
         }

         function load(){
           var animation = anime({
         targets: 'path',
         strokeDashoffset: function(el) {
         var pathLength = el.getTotalLength();
         el.setAttribute('stroke-dasharray', pathLength);
         return [-pathLength, 0];
         },
         stroke: {
           value: function(el, i) {
             return 'rgb(200,'+ i * 8 +',150)';
           },
           easing: 'linear',
           duration: 2000,
         },
         strokeWidth: {
           value: 6,
           easing: 'linear',
           delay: function(el, i) {
             return 1200 + (i * 40);
           },
           duration: 800,
         },
         delay: function(el, i) {
           return i * 60;
         },
         duration: 1200,
         easing: 'easeOutExpo',
         loop: true,
         direction: 'alternate'
         });
         }
         window.onload = load;
      </script>
      <script type="text/javascript">
         Dropzone.options.dropzone = {
           autoProcessQueue: false,
           addRemoveLinks: true,
           acceptedFiles: ".txt",
           maxFiles: 10,
           uploadMultiple: true,
           parallelUploads: 10,
           paramName: function() { return 'file'; },
           init: function() {
             var submitButton = document.getElementById("submitBtn")
             myDropzone = this; // closure

               submitButton.addEventListener("click", function() {
                 uploaded();

                 MicroModal.show('modal-1');
                 myDropzone.processQueue();
                 // Tell Dropzone to process all queued files.
               });
               this.on("maxfilesexceeded", function(file) {
                 this.removeFile(file);
               });
               this.on("error", function(file, message, xhr) {
                 if (xhr == null) this.removeFile(file); // perhaps not remove on xhr errors
                 alert(message);
               });
               this.on("addedfile", function() {
                   submitButton.style.visibility = 'visible'
               });
               this.on("removedfile", function() {
                 if (this.files.length == 0){
                   submitButton.style.visibility = 'hidden'
                 }
               });
               this.on('successmultiple', function(file, data){
                 var topicsByDoc = JSON.parse(data);
                 console.log(data);


                 document.getElementById("loading-section").style.display = 'none'
                 document.getElementById("waiting-content-p").style.display = 'none'
                 document.getElementById("modal-1-title").innerHTML =  "Topics"

                 // Clear the UL
                 var resultUL = document.getElementById('result-list-ul');

                 // clear the list of all the non-button values
                 var liChildren = resultUL.childNodes.length;
                 for (var i = 0; i < liChildren; i++){
                   resultUL.removeChild(resultUL.childNodes[0]);
                 }

                 // Loop through the topics
                 for (var doc=0; doc < topicsByDoc.length; doc++) {
                   var documentName = topicsByDoc[doc].documentName;
                   var topicsArrayInDoc = topicsByDoc[doc].topics;

                   for (var distrib=0; distrib < topicsArrayInDoc.length; distrib++){
                     var distributionObj = topicsArrayInDoc[distrib];
                     var wordProbabilityArray = distributionObj.word_probability;
                     var coverage = distributionObj.coverage;

                     var resultLI = document.createElement("LI");
                     var documentNameH4 = document.createElement("H4");
                     var resultText = document.createElement("P")

                     resultText.setAttribute("class", "modal-1-content-p")
                     resultText.setAttribute("id", "modal-1-content-p-" + i)

                     resultLI.appendChild(documentNameH4);
                     resultLI.appendChild(resultText);
                     resultUL.appendChild(resultLI);

                     for (var wordCount=0; wordCount < wordProbabilityArray.length; wordCount++){
                       documentNameH4.innerHTML = documentName + ": Topic #" + (wordCount + 1);

                       var wordProbability = wordProbabilityArray[wordCount];

                       var word = wordProbability.word;
                       var probability = wordProbability.probability;

                       resultText.innerHTML += "<br>" + word + "-" + probability;
                     }
                   }
                 }

                 var list = new List('result-list',{
                   valueNames:['modal-1-content-p'],
                   page: 1,
                   pagination: true
                 });


                   this.removeAllFiles();
                 });
           }
         }
      </script>
   </head>
   <body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
           <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/summarygen">Summary Generation</a>
         </li>
         <li class="nav-item active">
         <a class="nav-link" href="/topicgen">Topic Generation</a>
       </li>
     </ul>
   </div>
 </nav>
   <div class="container">
      <p>Drag and drop a ".txt" file to see what topics are discovered!</p>
      <form id="dropzone" action="/topicupload" class="dropzone" enctype="multipart/form-data">
         <div class="fallback">
            <input name="file" type="file" multiple />
         </div>
      </form>
      <button type="submit" id="submitBtn" class="plus" style="visibility:hidden;">Upload</button>
   </div>
   <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
         <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
               <header class="modal__header">
                  <h2 class="modal__title" id="modal-1-title">
                     Generating topics
                  </h2>
               </header>
               <main class="modal__content" id="modal-1-content">
                    <div id="waiting-content">
                      <p id="waiting-content-p">Please wait while your topics are being discovered</p>
                    </div>
                    <div id="result-list">
                      <ul id="result-list-ul" class="list">
                      </ul>
                      <div style="margin: auto; width: 50%;">
                        <ul  style="margin: auto; width: 50%;" class="pagination"></ul>
                      </div>
                    </div>
                  <section id="loading-section" style="display:none;">
                     <article>
                        <svg width="252px" height="94px" viewBox="3 11 252 94" version="1.1" style="margin:auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                           <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
                           <desc>Created with Sketch.</desc>
                           <defs></defs>
                           <path d="M4,80.3307481 L4,103.14209" id="Stroke-3-Copy-2" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M12,80.3307481 L12,103.14209" id="Stroke-3-Copy" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M20,80.3307481 L20,103.14209" id="Stroke-3" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M28,79.2468955 L28,103.14209" id="Stroke-4" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M36,78.1629412 L36,103.14209" id="Stroke-5" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M44,75.4792747 L44,103.14209" id="Stroke-6" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M52,72.7420239 L52,103.14209" id="Stroke-7" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M60,69.5063186 L60,103.14209" id="Stroke-8" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M68,66.251244 L68,103.14209" id="Stroke-9" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M76,61.8968703 L76,103.14209" id="Stroke-10" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M84,58.6428398 L84,103.14209" id="Stroke-11" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M92,55.3517013 L92,103.14209" id="Stroke-12" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M100,52.1459205 L100,103.14209" id="Stroke-13" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M108,49.9758708 L108,103.14209" id="Stroke-14" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M116,49.9648003 L116,103.14209" id="Stroke-15" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M124,52.0421408 L124,103.14209" id="Stroke-16" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M132,54.207588 L132,103.14209" id="Stroke-17" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M140,57.4549402 L140,103.14209" id="Stroke-18" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M148,59.7410947 L148,103.14209" id="Stroke-19" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M156,60.7705138 L156,103.14209" id="Stroke-20" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M164,59.6868773 L164,103.14209" id="Stroke-21" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M172,56.4734051 L172,103.14209" id="Stroke-22" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M180,49.799018 L180,103.14209" id="Stroke-23" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M188,42.3419581 L188,103.14209" id="Stroke-24" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M196,35.8617977 L196,103.14209" id="Stroke-25" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M204,29.3524204 L204,103.14209" id="Stroke-26" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M212,23.9352737 L212,103.14209" id="Stroke-27" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M220,19.5951742 L220,103.14209" id="Stroke-28" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M228,18.5101493 L228,103.14209" id="Stroke-29" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M236,16.3400995 L236,103.14209" id="Stroke-30" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M244,14.1700498 L244,103.14209" id="Stroke-31" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                           <path d="M252,12 L252,103.14209" id="Stroke-32" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" fill="none"></path>
                        </svg>
                     </article>
                  </section>
               </main>
               <footer class="modal__footer">
                  <button class="modal__btn modal__btn-primary" data-micromodal-close aria-label="Close this dialog window">Close</button>
               </footer>
            </div>
         </div>
      </div>
   </body>
</html>
