#result-list-ul {
  list-style-type:none;
}

.pagination {
  margin: 21px auto;
}

.pagination li a {
  margin-left: 20px;
}

.modal__container {
  max-height:70vh;
  max-width:700px;
  min-height:70vh;
  min-width:700px;
}
